extends ../layouts/navWu
block navCon
		style.
			.timeline:before{
			 display:block
			}
		.row
			.col-lg-12
				h1.page-header 控制台
		.row
			.col-lg-3.col-md-6
				.panel.panel-red
					.panel-heading
						.row
							.col-xs-3
								i.fa.fa-gears.fa-5x
							.col-xs-9.text-right
								.h3 常规扫描
					a(href='/game?action='+'normal')
						.panel-footer
							span.pull-left 详情信息
							span.pull-right
								i(class="fa fa-arrow-circle-right")
							.clearfix
			.col-lg-3.col-md-6
				.panel.panel-green
					.panel-heading
						.row
							.col-xs-3
								i.fa.fa-tasks.fa-5x
							.col-xs-9.text-right
								.h3 定时扫描
					a(href=href='/game?action='+'timing')
						.panel-footer
							span.pull-left 详情信息
							span.pull-right
								i(class="fa fa-arrow-circle-right")
							.clearfix
			.col-lg-3.col-md-6
				.panel.panel-yellow
					.panel-heading
						.row
							.col-xs-3
								i.fa.fa-files-o.fa-5x
							.col-xs-9.text-right
								.h3 结果比对
					a(href=href='/game?action='+'compare')
						.panel-footer
							span.pull-left 详情信息
							span.pull-right
								i(class="fa fa-arrow-circle-right")
							.clearfix
			.col-lg-3.col-md-6
				.panel.panel-primary
					.panel-heading
						.row
							.col-xs-3
								i.fa.fa-save.fa-5x
							.col-xs-9.text-right
								.h3 导出结果
					a(href=href='/game?action='+'result')
						.panel-footer
							span.pull-left 详情信息
							span.pull-right
								i(class="fa fa-arrow-circle-right")
							.clearfix							
		.row
			.col-lg-8
				if locals.filters.action = 'normal'
					.panel.panel-default
						.panel-heading
							i.fa.fa-bar-chart-o.fa-fw
							= locals.filters.action
							.pull-right
								.btn-group
									button(type="button",class="btn btn-default btn-xs dropdown-toggle",data-toggle="dropdown",aria-expanded="false")
										=" 选项 "
										span.caret
									ul.dropdown-menu.pull-right
										li
											a(href="#") 选项1
										li
											a(href="#") 选项2
										li
											a(href="#") 其他选项
										.divider
										li
											a(href="#") 链接
						.panel-body
							div#morris-area-chart(style={position:"relative","-webkit-tap-highlight-color":"rgba(0,0,0,0)"})
				else
					h1 nothing
			.col-lg-4
				.panel.panel-default
					.panel-heading
						i.fa.fa-bell.fa-fw
						= " 通知面板 "
					.panel-body
						.list-group
							a.list-group-item(href="#")
								i.fa.fa-comment.fa-fw
								= " 新增评论"
								span.pull-right.text-muted.small
									em 4分钟前
							a.list-group-item(href="#")
								i.fa.fa-warning.fa-fw
								= " 风机警报提示 "
								span.pull-right.text-muted.small
									em 12分钟前
							a.list-group-item(href="#")
								i.fa.fa-envelope.fa-fw
								= " 新消息提示 "
								span.pull-right.text-muted.small
									em 27分钟前
							a.list-group-item(href="#")
								i.fa.fa-tasks.fa-fw
								= " 新增任务 "
								span.pull-right.text-muted.small
									em 43分钟前
							a.list-group-item(href="#")
								i.fa.fa-rotate-left.fa-fw
								= " 风机检测系统重启 "
								span.pull-right.text-muted.small
									em 11:32AM
							a.list-group-item(href="#")
								i.fa.fa-bolt.fa-fw
								= " 风机检测系统崩溃 "
								span.pull-right.text-muted.small
									em 11:13AM
							a.list-group-item(href="#")
								i.fa.fa-warning.fa-fw
								= " 风机检测系统未响应 "
								span.pull-right.text-muted.small
									em 10:57AM
							a.list-group-item(href="#")
								i.fa.fa-gears.fa-fw
								= " 内齿圈提示 "
								span.pull-right.text-muted.small
									em 9:49AM
							a.list-group-item(href="#")
								i.fa.fa-file-text-o.fa-fw
								= " 常规信息 "
								span.pull-right.text-muted.small
									em 昨天
						a(href="#",class="btn btn-default btn-block") 查看全部通知
block jsThis
	script(src="/js/data/js/morris-data.js")

				
