extends ../layouts/navWu
block cssThis
	link(href="/styles/flot/index.css",rel="stylesheet")
block navCon
		style.
			.timeline:before{
			 display:block
			}
		.row
			.col-lg-12
				h3.page-header 控制台
		.row
			.col-lg-3.col-md-6
				.panel.panel-red
					.panel-heading
						.row
							.col-xs-3
								i.fa.fa-gears.fa-5x
							.col-xs-9.text-right
								.h3 常规扫描
					a(href='/game')
						.panel-footer
							span.pull-left 详情信息
							span.pull-right
								i(class="fa fa-arrow-circle-right")
							.clearfix
			.col-lg-3.col-md-6
				.panel.panel-green
					.panel-heading
						.row
							.col-xs-3
								i.fa.fa-tasks.fa-5x
							.col-xs-9.text-right
								.h3 定时扫描
					a(href=href='/runcmd/'+'timing')
						.panel-footer
							span.pull-left 详情信息
							span.pull-right
								i(class="fa fa-arrow-circle-right")
							.clearfix
			.col-lg-3.col-md-6
				.panel.panel-yellow
					.panel-heading
						.row
							.col-xs-3
								i.fa.fa-files-o.fa-5x
							.col-xs-9.text-right
								.h3 结果比对
					a(href=href='/game?action='+'compare')
						.panel-footer
							span.pull-left 详情信息
							span.pull-right
								i(class="fa fa-arrow-circle-right")
							.clearfix
			.col-lg-3.col-md-6
				.panel.panel-primary
					.panel-heading
						.row
							.col-xs-3
								i.fa.fa-save.fa-5x
							.col-xs-9.text-right
								.h3 导出结果
					a(href=href='/game?action='+'result')
						.panel-footer
							span.pull-left 详情信息
							span.pull-right
								i(class="fa fa-arrow-circle-right")
							.clearfix
		.row
			.col-lg-8
				if locals.filters.action = 'normal'
					i.fa.fa-tachometer.fa-fw
					label 扫描进度
					.progress
						.progress-bar.progress-bar-success.six-sec-ease-in-out(role='progressbar', aria-valuemin='0', aria-valuemax='100', data-transitiongoal='100')
					.panel.panel-default
						.panel-heading
							i.fa.fa-bar-chart-o.fa-fw
							= ' 实时扫描状态'
							.pull-right
								.btn-group
									button(type="button",class="btn btn-default btn-xs dropdown-toggle",data-toggle="dropdown",aria-expanded="false")
										=" 选项 "
										span.caret
									ul.dropdown-menu.pull-right
										li
											a(href="#") 选项1
										li
											a(href="#") 选项2
										li
											a(href="#") 其他选项
										.divider
										li
											a(href="#") 链接
						.panel-body#scanresult
				else
					h1 nothing
			.col-lg-4
				.panel.panel-default
					.panel-heading
						i.fa.fa-bell.fa-fw
						= " 扫描参数设定 "
					.panel-body
						form(id='runcmdForm', onsubmit='return false;')
							.form-group
								label IP地址段
								input(type='text', name='ipaddress', value='').form-control
							.form-group
								label 端口串
								input(type='text', name='ports', value='').form-control
							.form-group
								label 发包速率
								input(type='text', name='packages', value='').form-control
							.form-group
								label 源IP
								input(type='text', name='sourceip', value='').form-control
							.form-actions
								button(type='submit', id ='btnRuncmd').btn.btn-primary 开始扫描
			block cmdresult
block jsThis
	script(src="http://malsup.github.com/jquery.form.js")
	script(src="/js/lib/socketio/socket.io.js")
	script(src="/js/lib/socketio/client.js")
	script(src="/js/lib/runcmd/bootstrap-progressbar.js")
	
	
				
