extends ../layouts/default
block css
	link(href="/styles/bootstrap.min.css",rel="stylesheet")
	link(href="/styles/main.css",rel="stylesheet")
	link(href="/styles/font-awesome/css/font-awesome.min.css",rel="stylesheet")

block content
	div#home-3(class="page-wrapper full-width light-bg",style={"background-color":"white"})
		div#slider
			div#carousel-main(class="carousel slide")
				.carousel-inner
					.item.active
						img(src="/images/slider-1.jpg",width="1920",height="1024")
						.carousel-caption
							.container
								h2 Introducing Starter
								p.lead
									| We bring some of the world's best money managers
									br
									| to the core of your portfolio
								a.btn.btn-success.btn-lg(href="") Preview
								| &nbsp &nbsp
								a.btn.btn-default.btn-lg(href="") Download
					.item
						img(src="/images/slider-3.jpg",width="1920",height="1024")
						.carousel-caption
							.container
								h2 Introducing Starter
								p.lead
									| We bring some of the world's best money managers
									br
									| to the core of your portfolio
								a.btn.btn-success.btn-lg(href="") Preview
								| &nbsp &nbsp
								a.btn.btn-default.btn-lg(href="") Download
				a.left.carousel-control(href="#carousel-main",data-slide="prev")
					i.fa.fa-angle-left
				a.right.carousel-control(href="#carousel-main",data-slide="next")
					i.fa.fa-angle-right
	div#portfolio.page-wrapper.full-width.light-bg(style={background:"#ffffff"})
		.title-area
			h2 Our Portfolio
			p.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
		.page-fullwdth-content
			div#recent-projects.portfolio.clearfix
				.container
					.row
						.col-xs-6.col-sm-3
							.row
								.portfolio-item
									img.img-responsive(src="/images/portfolio-01.jpg")
									.overlay
										a.btn-preview(data-rel="prettyPhoto",href="")
											i.fa.fa-link
						.col-xs-6.col-sm-3
							.portfolio-item
								.row
									img.img-responsive(src="/images/portfolio-02.jpg")
									.overlay
										a.btn-preview(data-rel="prettyPhoto",href="")
											i.fa.fa-link
						.col-xs-6.col-sm-3
							.portfolio-item
								.row
									img.img-responsive(src="/images/portfolio-03.jpg")
									.overlay
										a.btn-preview(data-rel="prettyPhoto",href="")
											i.fa.fa-link
						.col-xs-6.col-sm-3
							.row
								.portfolio-item
									img.img-responsive(src="/images/portfolio-04.jpg")
									.overlay
										a.btn-preview(data-rel="prettyPhoto",href="")
											i.fa.fa-link
						.col-xs-6.col-sm-3
							.row
								.portfolio-item
									img.img-responsive(src="/images/portfolio-05.jpg")
									.overlay
										a.btn-preview(data-rel="prettyPhoto",href="")
											i.fa.fa-link
						.col-xs-6.col-sm-3
							.row
								.portfolio-item
									img.img-responsive(src="/images/portfolio-06.jpg")
									.overlay
										a.btn-preview(data-rel="prettyPhoto",href="")
											i.fa.fa-link
						.col-xs-6.col-sm-3
							.row
								.portfolio-item
									img.img-responsive(src="/images/portfolio-07.jpg")
									.overlay
										a.btn-preview(data-rel="prettyPhoto",href="")
											i.fa.fa-link
						.col-xs-6.col-sm-3
							.row
								.portfolio-item
									img.img-responsive(src="/images/portfolio-08.jpg")
									.overlay
										a.btn-preview(data-rel="prettyPhoto",href="")
											i.fa.fa-link
	div.page-wrapper.full-width.light-bg(style={background:"#ffffff"})
		.page-fullwdth-content
			.container
				.row
					.feature-box.col-md-4.col-sm-6.col-xs-12
						.feature-box-1.pull-left.color-1
							span
								i.fa.fa-star-o.icon-custom-style
						.feature-box-2
							h3 Wordpress Themes
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor insed do eiusmod
					.feature-box.col-md-4.col-sm-6.col-xs-12
						.feature-box-1.pull-left.color-1
							span
								i.fa.fa-star-o.icon-custom-style
						.feature-box-2
							h3 Wordpress Themes
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor insed do eiusmod
					.feature-box.col-md-4.col-sm-6.col-xs-12
						.feature-box-1.pull-left.color-1
							span
								i.fa.fa-star-o.icon-custom-style
						.feature-box-2
							h3 Wordpress Themes
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor insed do eiusmod
					.feature-box.col-md-4.col-sm-6.col-xs-12
						.feature-box-1.pull-left.color-1
							span
								i.fa.fa-star-o.icon-custom-style
						.feature-box-2
							h3 Wordpress Themes
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor insed do eiusmod
					.feature-box.col-md-4.col-sm-6.col-xs-12
						.feature-box-1.pull-left.color-1
							span
								i.fa.fa-star-o.icon-custom-style
						.feature-box-2
							h3 Wordpress Themes
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor insed do eiusmod
					.feature-box.col-md-4.col-sm-6.col-xs-12
						.feature-box-1.pull-left.color-1
							span
								i.fa.fa-star-o.icon-custom-style
						.feature-box-2
							h3 Wordpress Themes
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor insed do eiusmod
					.clearfix
	div.page-wrapper.full-width.light-bg(style={background:"#ffffff"})
		.page-fullwdth-content
			.container
				.row
					.col-md-6.col-xs-12
						#message
							a(onclick="startDemo();").btn.btn-lg.btn-info 物联网数据分析
					.col-md-12.col-xs-12
								#chart
	#footer
		a(href="") 关于我们
		a(href="") 服务条款
		a(href="") 版权声明
		a(href="") 免责声明
		a(href="") 联系方式
		a(href="") 旗下网站
		a(href="") 赞助商
	
block js
	script.
		$('.carousel').carousel()
		$(".feature-box").mouseenter(function(){
		$(".feature-box").stop()
		  $(this).animate({opacity:1})
		 $(".feature-box").not(this).animate({opacity:0.3})
		
		})
		$(".feature-box").parent().mouseleave(function(){
		 $(".feature-box").animate({opacity:1})
		})

	script(src='/js/lib/d3/c1.js')
	//script(src='/js/lib/d3/rtexample.js')
	script(src='/js/lib/highcharts/charts/H1.js')
	