extends ../layouts/default
block css
	style.
		.axis path,
		.axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
			}
		.axis text {
			font-family: sans-serif;
			font-size: 11px;
			}
		.backimg {
			background-image:url('images/roadbg.jpg');
			background-position:center;
			}
		.rowcenter {
			margin-left: 30px;
		}
		#message {
			font-size: 16px;
			text-align: center;
		}

block content
	//.weather
	//	.snowy
	.jumbotron.kePublic.container-fluid
		.rowcenter
			#message
				a(onclick="startDemo();").btn.btn-lg.btn-info 物联网数据分析
			#chart
	.container
		#ss
			.row.text-center
				.col-md-10.col-md-offset-1.head_height.pad_60
					h2 我们使用这些移动互联网工具
		<br>
		.row
			.col-xs-4.col-sm-3.col-md-2
				a(href='/bloglist/html5-css3').project 
					.thumbnail.animated 
						img(src='/images/hzhb_logo_1z.jpg') 
					.overlay
						.meta.animated
							.client 移动互联网领域的<br>主宰者
			.col-xs-4.col-sm-3.col-md-2
				a(href='/bloglist/html5-css3').project 
					.thumbnail.animated 
						img(src='/images/hzhb_logo_3z.jpg') 
					.overlay
						.meta.animated
							.client 动态的样式表语言
			.col-xs-4.col-sm-3.col-md-2
				a(href='/bloglist/html5-css3').project 
					.thumbnail.animated 
						img(src='/images/hzhb_logo_4z.jpg') 
					.overlay
						.meta.animated
							.client 用HTML5做出原声应用
			.col-xs-4.col-sm-3.col-md-2
				a(href='/bloglist/javascript').project 
					.thumbnail.animated 
						img(src='/images/hzhb_logo_5z.jpg') 
					.overlay
						.meta.animated
							.client 流行的JS MVS框架
			.col-xs-4.col-sm-3.col-md-2
				a(href='/bloglist/javascript').project 
					.thumbnail.animated 
						img(src='/images/hzhb_logo_2z.jpg') 
					.overlay
						.meta.animated
							.client Google开发的优美的前端JS框架
			.col-xs-4.col-sm-3.col-md-2
				a(href='/bloglist/node').project 
					.thumbnail.animated 
						img(src='/images/hzhb_logo_6z.jpg') 
					.overlay
						.meta.animated
							.client 基于GoogleV8引擎的Js运行平台
			.col-xs-4.col-sm-3.col-md-2
				a(href='/bloglist/php-python-ruby').project 
					.thumbnail.animated 
						img(src='/images/hzhb_logo_7z.jpg') 
					.overlay
						.meta.animated
							.client 一种功能强大、面向对象的脚本语言
			.col-xs-4.col-sm-3.col-md-2
				a(href='/bloglist/php-python-ruby').project 
					.thumbnail.animated 
						img(src='/images/hzhb_logo_8z.jpg') 
					.overlay
						.meta.animated
							.client 全球最普及的互联网开发语言
			.col-xs-4.col-sm-3.col-md-2
				a(href='/bloglist/php-python-ruby').project 
					.thumbnail.animated 
						img(src='/images/hzhb_logo_9z.jpg') 
					.overlay
						.meta.animated
							.client 一种代表简单主义思想的“胶水语言”
			.col-xs-4.col-sm-3.col-md-2
				a(href='/bloglist/mongodb').project 
					.thumbnail.animated 
						img(src='/images/hzhb_logo_10z.jpg') 
					.overlay
						.meta.animated
							.client 非常流行的<br>NoSQL数据库
			.col-xs-4.col-sm-3.col-md-2
				a(href='/bloglist/mongodb').project 
					.thumbnail.animated 
						img(src='/images/hzhb_logo_11z.jpg') 
					.overlay
						.meta.animated
							.client WEB应用方面最好的RDBMS
			.col-xs-4.col-sm-3.col-md-2
				a(href='/bloglist/mongodb').project 
					.thumbnail.animated 
						img(src='/images/hzhb_logo_12z.jpg') 
					.overlay
						.meta.animated
							.client 大数据时代超高性能的<br>Key-Value数据库
									
				
		if user && user.canAccessKeystone
				p
					a(href='/keystone/signin').btn.btn-lg.btn-primary 新增课程
			else
				p
					a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary 新增课程
				|  按此按钮进入管理界面.
block js
	//script(src='/js/lib/d3/9.js')
	script(src='/js/lib/d3/10.js')
	script(src='/js/lib/d3/6.js')
	script(src='/js/lib/d3/28.js')
	script(src='/js/lib/d3/c1.js')
	//script(src='/js/lib/d3/rtexample.js')
	script(src='/js/lib/highcharts/charts/H1.js')
	