extends game
block jsThis
	script(src="/js/lib/runcmd/websocket.js")
	script(src="/js/lib/runcmd/index.js")
	script(src="/js/lib/runcmd/bootstrap-progressbar.js")
	script(src="/js/lib/runcmd/progress.js")
					
						
			
				
