
<footer class="site-footer site-footer--sticky"> 
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h5 class="footer-heading">关于</h5>
				<p> Every 3rd Wednesday of the month you'll find us talking about what we're doing and what's happening around us in the world of JavaScript. </p>
				<ul class="list-inline">
					<li> 
						<a href="/about"> 详细信息
					</li>
					<li> 
						<a href="mailto:jinbin.li@itsi.com.cn"> 联系我们
					</li>
				</ul>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-xs-4">
						<h5 class="footer-heading"> Members </h5>
						<ul>
							<li>
								<a href="/members"> Members </a>
							</li>
							<li>
								<a href="/mentoring"> Mentoring </a>
							</li>
							<li>
								<a href="/members/mentors"> Mentors </a>
							</li>
						</ul>
					</div>
					<div class="col-xs-4">
						<h5 class="footer-heading"> Resources </h5>
					</div>
					<div class="col-xs-4">
						<h5 class="footer-heading"> Sponsors </h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row footer-copyright">
			<p> Copyright &copy; 2014 SydJS. Powered by <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a> </p>
			<p> If you run a meetup, please feel free to clone our site and make your own! You can <a href="https://github.com/JedWatson/sydjs-site", target='_blank'>find it on GitHub</a> </p>
		</div>
	</div>
</footer>