extends ../../layouts/default
include ../../mixins/flash-messages
	
block content
			.container: .row: .col-md-12
				.page-content
					form(method='post', autocomplete='off', novalidate).profile-form
						input(type='hidden', name='action', value='confirm.details')
						//- h3.profile-form__heading Confirm Details
						br
						p.lead.mb-2 欢迎加入! 请确认你的个人信息:
						+flash-messages(messages)
						//- TODO Gravatar / Optional image
						| 姓名：
						.form-group.form-row
							.col-xs-3: input(type='text' name='name.last' placeholder='Last Name (required)' value=authUser.name.last).form-control
							.col-xs-3: input(type='text' name='name.first' placeholder='First Name (required)' value=authUser.name.first).form-control
						| 邮件：	
						.form-group
							input(type='email' name='email' placeholder='电子邮件 (必须)' value=authUser.email).form-control.form-control-labelled
						| 网站：
						.form-group
							input(type='text' name='website' placeholder='个人网站 (可选)' value=authUser.website).form-control.form-control-labelled
						.form-group
							.col-xs-2: button(type='submit').btn.btn-primary.btn-block 下一步 &rarr;
