.social-signup-buttons
	.signup-button: a(href='/auth/github?target=' + page.path, title='用Github账户登录').btn.btn-link-github.btn-block
		span.entypo-social.entypo-github
		span.signup-button__text  Github
	
	.signup-button: a(href='/auth/qq?target=' + page.path, title='用QQ账号登录').btn.btn-link-facebook.btn-block
		span.entypo-social.entypo-qq
		span.signup-button__text  QQ账号
	
	.signup-button: a(href='/auth/google?target=' + page.path, title='用微信账号登录').btn.btn-link-google.btn-block
		span.elegant.elegant-chat
		span.signup-button__text  微信账号
	
	.signup-button: a(href='/auth/twitter?target=' + page.path, title='用新浪微博账号登录').btn.btn-link-twitter.btn-block
		span.entypo-social.entypo-sina-weibo
		span.signup-button__text  新浪微博
